/*anim chargement de la page d'accueil*/

@keyframes charger{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes charger2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*animation des menu*/

@keyframes animationentrées{
    0%{
        opacity: 0;
        margin-top: -1em;
    }
    25%{
        opacity: 1;
        margin-top: 0em;
    }
    100%{
        opacity: 1;
        margin-top: 0em;
    }
}
@keyframes animationplats{
    0%{
        opacity: 0;
        margin-top: -1em;
    }
    25%{
        opacity: 0;
        margin-top: -1em;
    }

    50%{
        opacity: 1;
        margin-top: 0em;
    }
    100%{
        opacity: 1;
        margin-top: 0em;
    }
}
@keyframes animationdesserts{
    0%{
        opacity: 0;
        margin-top: -1em;
    }
    50%{
        opacity: 0;
        margin-top: -1em;
    }

    75%{
        opacity: 1;
        margin-top: 0em;
    }
    100%{
        opacity: 1;
        margin-top: 0em;
    }
}